easyocr
matplotlib
mysql_connector
nltk
numpy
opencv-python
opencv-python-headless
pandas
Pillow
plotly
bcrypt
scikit_learn
streamlit
streamlit_camera_input_live
streamlit_card
tqdm
streamlit-extras
spacy
thinc
gdown
